DEBUG=1
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=spotter
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
SECRET_KEY=django-insecure-z=_we66&c0^c1i#xcos&)nee%t3o*oub+%2tv#+0n&m-yj8rr#
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_BROKER_RESULT=redis://redis:6379/0
